[submodule ".vim/dein/repos/github.com/Shougo/dein.vim"]
	path = .vim/dein/repos/github.com/Shougo/dein.vim
	url = http://github.com/Shougo/dein.vim.git
[submodule ".vim/dein/repos/github.com/Shougo/neocomplete.vim"]
	path = .vim/dein/repos/github.com/Shougo/neocomplete.vim
	url = http://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/dein/repos/github.com/Shougo/neomru.vim"]
	path = .vim/dein/repos/github.com/Shougo/neomru.vim
	url = http://github.com/Shougo/neomru.vim.git
[submodule ".vim/dein/repos/github.com/Shougo/unite.vim"]
	path = .vim/dein/repos/github.com/Shougo/unite.vim
	url = http://github.com/Shougo/unite.vim.git
[submodule ".vim/dein/repos/github.com/Shougo/vimproc.vim"]
	path = .vim/dein/repos/github.com/Shougo/vimproc.vim
	url = http://github.com/Shougo/vimproc.vim.git
[submodule ".vim/dein/repos/github.com/tomasr/molokai"]
	path = .vim/dein/repos/github.com/tomasr/molokai
	url = http://github.com/tomasr/molokai.git
[submodule ".vim/dein/repos/github.com/editorconfig/editorconfig-vim"]
	path = .vim/dein/repos/github.com/editorconfig/editorconfig-vim
	url = http://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/dein/repos/github.com/Townk/vim-autoclose"]
	path = .vim/dein/repos/github.com/Townk/vim-autoclose
	url = http://github.com/Townk/vim-autoclose.git
[submodule ".vim/dein/repos/github.com/scrooloose/nerdtree"]
	path = .vim/dein/repos/github.com/scrooloose/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/dein/repos/github.com/bronson/vim-trailing-whitespace"]
	path = .vim/dein/repos/github.com/bronson/vim-trailing-whitespace
	url = http://github.com/bronson/vim-trailing-whitespace.git
[submodule ".powerlevel9k"]
	path = .powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
