.swp
.vim/plugged/**
.vim/autoload/**
.vim/init.vim
.vim/sessions/**
.netrwhist
.config/fish/functions
.config/fish/fish_variable
.config/fish/fish_variables
.config/flutter/
.config/hub
.config/iterm2/
.config/jgit/
.config/neofetch/
.config/raycast/
.config/coc/
.config/nvim