[core]
    excludesfile = /Users/miyoshi_s/.gitignore
    editor = vim
[user]
    name = barleytea
    email = barleytea362@gmail.com
[ghq]
    root = /Users/miyoshi_s/git_repos/
[init]
    defaultBranch = main


