.swp
.vim/plugged/**
.vim/autoload/**
.vim/init.vim
.vim/sessions/**
.netrwhist
.config/fish/functions
.config/fish/fish_variable
.config/fish/fish_variables
.config/fish/fish_pluglins
.config/fish/conf.d/sdk.fish
.config/fish/completions/sdk.fish
.config/fish/conf.d/rustup.fish
.config/fish/local.fish
.config/go/
.config/flutter/
.config/helm/
.config/hub
.config/iterm2/
.config/jgit/
.config/neofetch/
.config/raycast/
.config/stripe/
.config/coc/
.config/nvim
.config/configstore/
.config/gatsby/
.config/github-copilot/
.config/wireshark/
.config/yarn/
.config/gh/
.vscode
.config/wezterm/data/*.json
.config/Code/
.config/JetBrains/
.config/bottom/
.config/environment.d/
.config/gcloud/
.config/google-chrome/
.config/pulse/
node_modules/
package-lock.json
package.json
result
